# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editors / OS
.vscode/
.idea/
.DS_Store
