# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env/
.vscode/
.idea/
.DS_Store

# Terraform working directory
.terraform/
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate

# Terraform crash logs
crash.log
crash.*.log

# Terraform lock file
# Keep this file in Git for consistent provider versions
!.terraform.lock.hcl

# Local cache
.cache/
